:root {
    --purple: rgb(120, 91, 130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    color: var(--purple);
}

.intro {
    background-image: url("./src/assets/major1-bgimg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    height: auto;
    max-height: 100vh;
    width: 100vw;
}

#upperWebpagePurple {
    background-color: var(--purple);
    height: 1vh;
    display: flex;
}

nav {
    position: relative;
    background-color: white;
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 550;
    align-items: center;
    box-shadow: 1px 5px 15px rgba(118, 115, 115, 0.2);
    height: auto;
}

#headerText {
    display: flex;
    justify-content: right;
}

#hidden-button {
    display: none;
}
#headerImg{
    position: absolute;
    height: 80%;
    left: clamp(1rem, 1vw, 2rem);
    padding-top: 2px;
}
#headerText button {
    margin: 1vw;
    border: none;
    background: none;
    cursor: pointer;
    font-size: clamp(2.2vw, 2.5vw, 3vw); 
    color: var(--purple);
    
}

#headerText button:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.introMascot{
    position: relative;
    display: block;
}

.introMascot img {
    max-width: clamp(52.5%, 90vw, 90%);
    display: block;
    margin: 0 auto;
    max-height: 80vh;
}

.introMascotText {
    position: absolute;
    /* top: 10rem; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
    text-align: center;
 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.introMascotText :first-child {
    font-size: clamp(0.4rem, 3.5vw, 2rem);
    font-weight: 300;
}

.introMascotText :nth-child(2) {
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: 600;
}

.introMascotText :nth-child(3) {
    font-size: clamp(0.1rem, 2.5vw, 1.5rem);
    font-weight: 590;
}

.yogaClasses {
    position: relative;
    height: auto;
    top: 0%;
}

#yogaClassesBGImg {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}


.yogaClassesBGText {
    line-height: 80%;
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 3px;
}

.yogaClassesBGText :first-child {
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: lighter;
}

.yogaClassesBGText :nth-child(2) {
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 600;
}

.yogaClassesItems {
    margin: auto;
    width: 90%;
}

.oneofthree{
    display: flex;
    padding: max(1vh, 1vw) 0;
}

.oneofthree hr {
    border: .1vw solid var(--purple);
}

#oneofthreeImages {
    border-radius: 15vw;
    width: 30vw;
    height: 30vw;
}
.oneofthreeText {
    padding: 3%;
}

.oneofthreeText :nth-child(2) {
    font-size: clamp(.2rem, 3vw, 2rem);
    font-weight: 599;
}

.oneofthreeText :nth-child(3) {
    font-size: clamp(.2rem, 2.2vw, 1.4rem);
    font-weight: 100;
}
.oneofthreeText :nth-child(5) {
    font-size: clamp(.2rem, 2.2vw, 1.4rem);
    font-weight: 100;
}

.ellipsisVertical {
    height:clamp(.2rem, 3vw, 2.5rem);;
    fill: var(--purple);
}

#showmore-parent {
    display: flex;
    justify-content: center;
}

#showmore {
    font-size:clamp(.2rem, 3vw, 1.5rem);
    font-weight: 600;
    padding: clamp(.2rem, 3vw, 1.5rem);
    padding-right: clamp(.4rem, max(5vw, 5vh), 3rem);
    padding-left: clamp(.4rem, max(5vw, 5vh), 3rem);
    margin-bottom: 2%;
    border-radius: 25rem;
    border: none;
    background-color: var(--purple);
    color: white;
    box-shadow: 0px 0px 15px rgba(140, 135, 135, 0.8);
}

.discount {
    margin: 0;
    padding: 0%;

    position: relative;
    background-image: url("./src/assets/major3-bgimg.png");
    background-position: center;
    background-size: cover;
    top: 0%;
    height: 100vh;
    color: white;
    margin-top: 2%;
    
}

.discount img {
    padding: 3%;
    min-width: 30vw;
    max-width: 40vw;
}

#discountText {
    line-height: 50%;
    text-align: left;
    padding-top: 1rem;
    letter-spacing: 0.3rem;
    margin-left: 10%;
}

#discountText :first-child {
    font-size: 3rem;
    font-weight: 599;
}

#discountText :nth-child(2) {
    font-size: 2rem;
    font-weight: lighter;
}

#discountText :nth-child(3) {
    font-size: 1.3rem;
    font-weight: 599;
}

#discountText :nth-child(4) {
    font-size: 1.3rem;
    font-weight: 599;
}



























.dynamics {
    margin: 0;
    padding: 0%;
    background-image: url("./src/assets/major4pbgimg.png");
    background-position: top left;
    background-size: min(50vh, 50vw);
    background-repeat: no-repeat;
    position: relative;
    /* display: flex; for mobile */
    position: relative;
    margin-bottom: 5%;
    margin-right: 5%;
    /* font-size: clamp(1.3rem, 1vw, 2rem); */
}

#dynamicsText {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: clamp(.8rem, max(2vh,2vw), 1.3rem);

    letter-spacing: .17rem;
}

#dynamicsText-1{
    line-height: 0rem;
    font-size:  clamp(1.5rem, 1vw, 3.1rem);
    font-weight: bold;
}

#dynamicsText-2 {
    line-height: 0rem;
    font-size: clamp(1.5rem, 1vw, 3.1rem);
    font-weight: lighter;
}

.dynamicsPointer {
    margin-top: clamp(3rem, 2vw, 5rem);
    font-size: clamp(1rem, 1vw, 2rem);
}

#dynamicsText hr {
    border: .1vw solid var(--purple);
    width: 80%;
}

.random-2 {
    font-weight: 600;
    line-height: 1rem;
}

.date-time-price {
    display: flex;
}

.date-time {
    margin-right: clamp(1.3rem, 2vw, 2rem);
}

#date-time-1 {
    font-weight: 600;
    line-height: 0rem;
}
#date-time-2 {
    font-weight: 200;
    line-height: 1rem;
}

#dynamicsImgArea {
    position: relative;

    display: flex;
    flex-direction: column;
}

#dynamicsVerticalText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    right: clamp(0rem , min(2vh,2vw), 4rem);
    bottom: 0;
    font-size: clamp(1rem ,max(2vh,2vw) , 4rem);
}

#dynamicsImg {
    height: max(40vh,40vw);
    width: max(40vh,40vw);
    display: block;
    margin: 0 auto;
}

.dynamicpositions {
    margin: 0;
    padding: 0%;
    background-image: url("./src/assets/major5-bgimg.png");
    background-position: top right;
    background-size: min(50vh, 50vw);
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5%;
}

#dynamicspositionsVerticalText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    left: clamp(0rem , min(2vh,2vw), 4rem);
    bottom: 0;
    font-size: clamp(1rem ,max(2vh,2vw) , 4rem);
}








































.healthyLife {
    position: relative;
    height: 60vh;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#healthyTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.3rem , max(1vh,1vw),2rem);
    line-height: 0;
    font-weight: 600;
}

#healthyTitle hr {
    line-height: 0;
    flex: 1;
    /* Make the HR elements flexible */
    border: 1px solid var(--purple);
    margin: 0 0.5rem;
}
.life {
    text-align: center;
    font-size: clamp(1.3rem , max(1vh,1vw),2rem);
    line-height: 0;
}


#major-6-main {

    text-align: center;
    align-items: center;
    margin-top: 10%;
    font-size: 1.1rem;
}

#major-6-main div :nth-child(2) {
    font-weight: 599;
    font-size: 1.5rem;
}



































.major-7 {
    position: relative;
    height: auto;
    top: 0%;
    margin: 5%;
}

.major-8 {
    position: relative;
    height: 70vh;
    top: 0%;
    display: flex;
}

#major-8-img {
    position: absolute;
    height: 30rem;
}

.major-8-txt {
    display: flex;
    width: 37%;
    flex-direction: column;
    font-size: 1.7rem;
    margin-left: 13%;
}

.major-8-txt-yoga {
    font-size: 2rem;
}

.major-8-txt-try {
    font-weight: 599;
}

.major-9 {
    position: relative;
    top: 0%;
    height: 90vh;
}

#major-9-vertical-p {
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    top: -20%;
    right: 0;
    font-size: clamp(1rem, 1.8rem, 2.5rem);
    margin-right: 8%;
}


#major-9-bgimg {
    position: absolute;
    width: 100%;
    z-index: -3;
}

#major-9-mark {
    position: absolute;
    right: 50%;
    left: 50%;
    margin: auto;
    height: 2%;
}

.major-9-txt {
    text-align: center;
    font-size: clamp(1rem, 2rem, 3rem);
    padding-top: 15%;
}

footer {
    display: flex;
    margin: 10%;
    font-size: 1.3rem;
}

#footer-left :first-child {
    font-weight: 600;
}

#footer-right {
    margin-top: 2rem;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#footer-right div :first-child {
    font-weight: 600;
}

#random-2 {
    background-color: var(--purple);
    height: 2rem;
    display: flex;
}

#threeBarsSVG {
    height: 1rem;
}



/* 
@media screen and (max-width: 768px) {
    #header-txt {
        flex-direction: column;
    }

    #header-txt button {
        display: none;
    }

    #header-txt #hidden-button {
        display: block;
    }

    .major-1-hero-txt {
        top: 30%;
    }

    nav img {

        padding-left: 1.5rem;

    }

    #major-4-last-p {
        display: none;
    }

    #major-5-last-p {
        left: 2rem;
        font-size: .8rem;
    }

    #major-9-vertical-p {
        font-size: 1rem;
        top: -10%;
    }


    #major-4-mainarea {
        flex-direction: column;
    }

    .major-4 {
        height: auto;
    }

    .major-5 {
        height: auto;
    }

    .major-9-txt {
        font-size: 1rem;
        padding-top: 15%;
    }

    #major-8-img {
        height: 230px;
        width: 240px;
    }

    .major-8-txt {
        font-size: 1.2rem;
    }

    .major-8 {
        height: auto;
    }

    #footer-left :nth-child(2) {
        font-size: .8rem;
    }

    #footer-left :first-child {
        font-size: 1rem;
    }

    #footer-right {
        font-size: .8rem;
    }

    #footer-right div :first-child {
        font-size: .8rem;
    }

    #footer {
        margin-bottom: 0%;
    }

    .major-6 {
        height: auto;
    }

    #major-6-main {
        flex-direction: column;
        justify-content: none;
        font-size: .8rem;
    }

    #major-4-txt-title-1 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    #major-4-txt-title-2 {
        font-size: clamp(1rem, 1.6rem, 3.1rem);
    }

    .major-4-5-txt-pointer {
        margin-top: 3rem;
        font-size: 1.3rem;
    }

    #major-4-txt {
        font-size: 1rem;
        width: 65%;
    }

    #major-4-imgarea img {
        padding-left: 50%;
    }

    .oneofthree-txt :nth-child(2) {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .oneofthree-txt :nth-child(3) {
        font-size: 1.3rem;
    }

    .oneofthree-txt :nth-child(5) {
        font-size: 1.1rem;
    }

    #oneofthree-images {
        margin-top: 2.5rem;
        border-radius: 5rem;
        height: 10rem;
        width: 10rem;
    }

    .major-2-items {
        flex-direction: column;
    }

    .major-2-oneofthree {
        display: flex;
    }

    .oneofthree-txt img {
        display: none;
    }

    .major-2-head {
        display: flex;
        margin-left: 25%;
    }
} */


@media screen and (min-width: 768px) {
    .intro{
        height: 100vh;
    }
    #upperWebpagePurple {
        height: 1vw;
    }
    #headerText button{
        font-size: clamp(1.4vw, 1.8vw, 3vw);
    }
    .yogaClassesItems{
        display: flex;
    }
    .oneofthree{
        flex-direction: column;
        padding: 3%;
    }
    #oneofthreeImages {
        border-radius: 15vw;
        width: 21vw;
        height: 21vw;
    }

    .dynamics{
        display: flex;
        margin-bottom: 10%;
    }
    #dynamicsVerticalText {
        right: clamp(0rem , min(2vh,2vw), 4rem);
        bottom: -20%;
        font-size: clamp(1rem ,max(2vh,2vw) , 4rem);
    }
    #dynamicspositionsVerticalText {
        left: clamp(0rem , min(2vh,2vw), 4rem);
        bottom: -20%;
        font-size: clamp(1rem ,max(2vh,2vw) , 4rem);
    }
    .dynamicpositions{
        display: flex;
        flex-direction: row-reverse;
    }
}